body {
    margin: 0 auto;
    text-align: center;
    line-height: 1.6
}

/*
 * Modal Styles
 */

.modal {
  padding: 10px;
  background: linear-gradient(to right, #1bbbb1, #36b8e9);
}

.modal-sub {
  margin-bottom: 0;
}

.modal-title {
  font-size: 26px;
  margin-top: 25px;
}

.modal-img:hover {
  cursor: pointer;
}

/*
 * Win Message
 */

.win-message {
  position: fixed;
  top: 200px;
  left: 560px;
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px #000;
}